@font-face {
    font-family: "Ferry";
    src: url("../../../../public/fonts/Ferry-Black.ttf") format("truetype"); 
} 

.advantages {
    margin-top: 50px;
}

.titleAdvantages {
    text-align: start;
    color: #000;
    font-size: 45px;
    font-family: "Ferry";
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 0.45px;
    margin: 0;
}

@media (max-width: 500px) {

    .titleAdvantages {
        font-size: 28px;
        letter-spacing: 0.28px;
        width: 350px;
    }
}