.auth {
  padding: 70px 140px 80px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.authWrapper {
  display: flex;
  flex-direction: column;
}

.authTitle {
  max-width: 800px;
  font-family: "Ferry";
  margin: 0;
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 0.8px;
}

.authImg {
  margin-top: 15px;
  margin-left: 20%;
  width: 321.764px;
  height: 342.035px;
}

@media screen and (max-width: 1200px) {
  .auth {
    padding: 30px 14px 80px 14px;
    justify-items: center;
    flex-direction: column;
  }

  .authWrapper {
    align-items: center;
  }

  .authTitle {
    width: 90%;
    color: #000;
    font-size: 22px;
    font-family: 'Ferry';
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 0.44px;
  }

  .authImg {
    width: 335px;
    height: 356.105px;
    margin-top: 50px;
  }
}